body{
  background-color: black;
  font-family: 'test_epicene_displaymedium';
    src: url('testepicenedisplay-medium-bf66175341117d8-webfont.woff2') format('woff2'),
         url('testepicenedisplay-medium-bf66175341117d8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
.cinema_landing{
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 220px);
      padding: 0 20px 40px;
      cursor: pointer;
      user-select: none;
}
.cinema_landing_header {
  color: white;
} 
