  @font-face {
    font-family: 'test_epicene_displayMdIt';
    src: url('css/testepicenedisplay-mediumitalic-bf661753410cdd8-webfont.woff2') format('woff2'),
         url('css/testepicenedisplay-mediumitalic-bf661753410cdd8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  font-family: 'test_epicene_displaymedium';
    src: url('css/testepicenedisplay-medium-bf66175341117d8-webfont.woff2') format('woff2'),
         url('css/testepicenedisplay-medium-bf66175341117d8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  background-color: black;
  
} 
.cinema_landing{
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 220px);
      padding: 0 20px 40px;
      cursor: pointer;
      user-select: none;
}
.cinema_landing_header {
  color: white;
  font-family: 'test_epicene_displayMdIt';
  font-size: 80px;
  letter-spacing: 2px;
} 

.cinema_landing h1{
  font-family: 'test_epicene_displaymedium';
  font-size: 40px;
  color: white;
}
